<div class="comment" id="comment-<%= comment.id %>">
  <div class="d-flex justify-content-between">
    <div class="comment-user">  <%= comment.user.username %></div>
    <% if @owner %>
        <%= link_to "x", path, class:"delete-btn text-dark", data: {turbo_method: :delete} %>
    <% end%>
  </div>
  <%= comment.title%>
  <div class="comment-date"><%= "#{time_ago_in_words(comment.created_at)} ago"  %> </div>

</div>
