<%= simple_form_for [campaign, decision], data: { controller: "form", form_access_value: access } do |f| %>

  <%= f.input :title, label: false, disabled: !access, class:"title", input_html: { data: {form_target:"input", action:"keyup->form#display_btn" }} %>
  <%= f.input :content, label: false, disabled: !access, input_html: { data: {form_target:"input", action:"keyup->form#display_btn" }} %>

  <div class="d-flex justify-content-end">
    <%= button_tag(type: 'submit', class: "d-none btn text-end p-0 pe-2" , data: { form_target:"saveBtn"}) do %>
      <i class="fa-solid fa-check"></i>
    <% end %>

    <% if @expert %>
      <div class="delete-btn">
        <%= link_to campaign_decision_path(campaign, decision), data: { turbo_method: :delete }, class:"text-decoration-none mb-3" do %>
          <i class="fa-solid fa-trash-can"> </i>
        <% end  %>
      </div>
    <% end%>
    </div>

<% end %>
