<%= simple_form_for campaign, data: { controller: "form", form_access_value: owner } do |f| %>

  <div class="container header-layout">
    <div class="title-block"> <%# title, duration and username of owner %>

      <%= f.input     :title, label: false, disabled: !owner,
                      input_html: { data: {form_target:"input", action:"keyup->form#display_btn"}}
                      %>

      <div class="label"> by <%= campaign.expert.username %> </div>

    </div>

    <div data-controller="datepicker" class="date-block text-end"> <%# dates and delete link %>

      <div class="d-flex">
        <div class="label">From </div>
        <%= f.input   :start_date, label: false, disabled: !owner, as: :string,
                      input_html: { data: {
                        form_target:"input", action:"change->form#display_btn",
                        datepicker_target:"start"
                        }}
                      %>
      </div>
      <div class="d-flex">
        <div class="label"> To</div>
        <%= f.input   :end_date, label: false, disabled: !owner, as: :string,
                      input_html: { data: {
                        form_target:"input", action:"change->form#display_btn",
                        datepicker_target:"end"
                        }}
                      %>
      </div>

      <%# Only owner can delete campaign %>
      <% if owner %>
        <%= link_to campaign_path(campaign), class:"text-decoration-none text-white mb-3",
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          delete <i class="fa-solid fa-trash-can"> </i>
        <% end %>
      <% end %>

    </div>
  </div>

  <%= f.button  :submit, value:"Save changes", class:"btn-primary d-none",
                data: {form_target:"saveBtn"}
                %>

<% end %>
