<div class="header">
    <%= render "campaigns/form", campaign: @campaign, owner: @owner %>
</div>

<h3> TAGS </h3>
<div class="tags">
  <%# all tags %>
  <%= render "tags/tags", tags: @campaign.tags, campaign: @campaign %>
  <%# new tag %>
  <%= render "tags/form", campaign: @campaign, tag: @tag %>
</div>

<% if @owner %>
<h3> OWNER ACTIONS </h3>

  <%# Owner can edit campaign %>
  <div class="form-container">
  </div>

  <%# Owner can delete campaign %>
  <%= link_to "Delete",
    campaign_path(@campaign),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

<% end %>


<h3> TODOS </h3>

<div class="todos">
  <%# all todos %>
  <%= render "todos/todos", todos: @campaign.todos, comment: @comment %>
  <%# new todo %>
  <%= render "todos/form", campaign: @campaign, todo: @todo %>
</div>


<h3> COMMENTS </h3>
<div class="comments">
 <%# all comments %>
  <%= render "campaigncomments/comments", comments: @campaign.campaigncomments, campaign: @campaign   %>
  <%# new comment %>
  <%= render "campaigncomments/form", campaign: @campaign, comment: @campaigncomment %>
</div>


<h3> DECISIONS </h3>
<div class="decisions">
 <%# all comments %>
  <%= render "decisions/decisions", decisions: @campaign.decisions, campaign: @campaign   %>
  <%# new comment %>
  <%= render "decisions/form", campaign: @campaign, decision: @decision %>
</div>
