<div class="big-title"> <%= @campaign.title %> </div>
<div class="duration">  <%= @campaign.estimated_duration %>  </div>
<div class="duration">  <%= @campaign.expert.username %>  </div>

  <div class="tags">
    <% @campaign.tags.each do |tag| %>

      <div class="tag">
        <%= tag.title  %>
        <% if @owner %>
          <div  class="delete-btn">
          <%= link_to "Delete", tag_path(tag), data: {turbo_method: :delete} %>
          <% end%>
        </div>
      </div>

    <% end%>
  </div>

<% if @owner %>

  <div class="form-container">
    <%= render "form", campaign: @campaign %>
  </div>

  <%= link_to "Delete",
    campaign_path(@campaign),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

<% end %>
