<div class="big-title"> <%= @campaign.title %> </div>
<div class="duration">  <%= @campaign.estimated_duration %>  </div>
<div class="duration">  <%= @campaign.expert.username %>  </div>


<h3> TAGS </h3>
<%= render "tags/tags", tags: @campaign.tags %>


<% if @owner %>
<h3> OWNER ACTIONS </h3>

  <%# Owner can edit campaign %>
  <div class="form-container">
    <%= render "form", campaign: @campaign %>
  </div>

  <%# Owner can delete campaign %>
  <%= link_to "Delete",
    campaign_path(@campaign),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>

<% end %>


<h3> COMMENTS </h3>

<%= render "campaigncomments/comments", comments: @comments, campaign: @campaign, comment: @comment  %>
